.quem_somos{
    background-color: #C4EDEF;
    color: #23404E;
    font-size: 20px;
    text-align: center ;
    line-height: 30px;
    
}

.h1{
    font-size: 50px;
    font-style: italic;
    text-align: center;
}

.body{
    background-size: cover;
}

